#Additional setting for Zen-papero

style "colors_papero"
{
	bg_pixmap[NORMAL] 	= "window-bg.png"
}

widget_class "*"                   style "default"

widget_class "*GtkTree*"           style "sidepane"
class "*GtkTree*"                  style "sidepane"
widget_class "*GtkCTree*"          style "sidepane"
class "*GtkCTree*"                 style "sidepane"
