# Patch to fix scrollbar width for LibreOffice applications.
# To run this file add the following command in the application launcher :
# bash -c 'GTK2_RC_FILES=/path/to/your/themes/Zen/apps/libreoffice.rc application-command'

		style "large_scrollbar"
		{
			GtkScrollbar::slider-width = 10
			GtkScrollbar::trough-border = 3
		}
		widget_class "*" style "large_scrollbar"

