style "panel" = "panel-nokto-darker"
{
	xthickness = 2
	ythickness = 2
}

style "panel_button" = "panel-nokto-darker"
{
		engine "murrine" {
		contrast			= 0.0
		gradient_shades		= { 1.02, 0.9, 0.8, 0.8 }
		textstyle			= 1
		text_shade			= 0.2
		roundness			= 0
	}
}

# Theme panel elements
#class "*Panel*" style "panel"

#widget_class "*Mail*" style "panel" # Change bg of evolution widget...
widget "*PanelWidget*"			style "panel"
widget "*PanelApplet*"			style "panel"
widget "*fast-user-switch*"		style "panel" # workaround for Fast User Switch applet
widget "*CPUFreq*Applet*"		style "panel"
class "PanelApp*" 				style "panel"
class "PanelToplevel*"			style "panel"
widget_class "*PanelToplevel*"	style "panel"

#XFCE panel
widget_class "*notif*"			style "panel"
widget_class "*Notif*"			style "panel"
widget_class "*Tray*"			style "panel"
widget_class "*tray*"			style "panel"
widget "*Xfce*Panel*"			style "panel"
class "*Xfce*Panel*"			style "panel"

# Panel buttons
widget_class "*Panel*GtkToggleButton"	style:highest "panel_button"

# XFCE panel buttons
widget "*Xfce*Panel*Button*"			style:highest "panel_button"
class "*Xfce*Panel*Button*"				style:highest "panel_button"
widget_class "*LauncherPlugin*"			style:highest "panel_button"
widget_class "*ActionsPlugin*"			style:highest "panel_button"
widget "whiskermenu-window*"			style:highest "nokto-darker"
widget "whiskermenu-window*Button"		style:highest "button-dark-murrine"
widget "*whiskermenu-window*Scrollbar*"	style:highest "scrollbar-dark"

# lxpanel and fbpanel
widget "*.tclock.*"			style "panel_button"
widget "*.taskbar.*"		style "panel_button"
widget_class "*GtkBgbox*"	style "panel_button"
