style "dark-panel" = "default"
{
	fg[NORMAL]			= "#D0C9B1" # Makes panel text light.
	fg[ACTIVE]			= "#FFFFFF"
	fg[PRELIGHT]		= "#FFFFFF"
	fg[SELECTED]		= "#E6E6E6"
	bg[NORMAL]			= "#212121"
	bg[ACTIVE]			= shade(0.4, @selected_bg_color)
	bg[PRELIGHT]		= mix(0.2, @selected_bg_color, "#212121")
	bg[SELECTED]		= shade(0.5, @selected_bg_color)
	base[NORMAL]		= "#212121"
	bg[INSENSITIVE]		= "#000000"
}

style "light-panel" = "default" {
	bg[NORMAL]			= "#CCCCCC"
	bg[PRELIGHT]		= mix(0.6, @selected_bg_color, "#CCCCCC")
	bg[ACTIVE]			= @selected_bg_color
}

style "adaptive-panel" = "default" {
	bg[NORMAL]			= shade(0.9,@bg_color)
	bg[PRELIGHT]		= mix(0.6, @selected_bg_color, shade(0.9,@bg_color))
	bg[ACTIVE]			= @selected_bg_color
	}

style "panel" = "dark-panel"
{
	xthickness = 2
	ythickness = 2
}

style "panel_button" = "default"
{
    engine "xfce"
    {
	smooth_edge = true
	#grip_style = slide
        boxfill
        {
            fill_style = plain
        }
    }
}

# Theme panel elements
#class "*Panel*" style "panel"

#widget_class "*Mail*" style "panel" # Change bg of evolution widget...
widget "*PanelWidget*"			style "panel"
widget "*PanelApplet*"			style "panel"
widget "*fast-user-switch*"		style "panel" # workaround for Fast User Switch applet
class "PanelApp*" 				style "panel"
class "PanelToplevel*" 			style "panel"

#XFCE panel
widget_class "*notif*"			style "panel"
widget_class "*Notif*"			style "panel"
widget_class "*Tray*"			style "panel"
widget_class "*tray*"			style "panel"
widget "*Xfce*Panel*"			style "panel"
class "*Xfce*Panel*"			style "panel"

widget_class "*Panel*Button*"	style "panel_button"
